@use '../abstracts' as *;

.sec-2-wrapper {
  background: var(--clr-neutral-800);
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
}

.sec-2-title-box {
  margin-top: 30vh;
  @include max-mq(extra-small) {
    align-self: center;
  }
}

.sec-2-title {
  line-height: 18vh;
  font-size: 17vh;
  
  @include max-mq(medium) {
    font-size: 10vh;
  }
  
  @include max-mq(small) {
    font-size: 7vh;
  }
  @include max-mq(extra-small) {
    font-size: 5vh;
  }
}

.sec-2-text-box {
  margin-top: 15vh;
  align-self: center;
}

.sec-2-paragraph {
  margin-bottom: 1vh;
}

.sec-2-btn-box {
  margin-top: 7vh;
  // align-self: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.sec-2-btn {
  background: transparent;
  border: none;
  font-size: 3rem;
}