@use '../abstracts' as *;

.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: var(--clr-primary-800);
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    background: url(../images/trees-very-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    transition: clip-path 1s ease;
  }
}

.landing-wrapper.full-size::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.landing-title {
  color: transparent;
  line-height: 18vh;
  font-size: 22vh;
  background: url(../images/trees-very-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; // necessary for chrome
  position: absolute;
  z-index: 1;
  // top: 0;
  // bottom: 0;
  height: 100vh;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 100vh;

  @include max-mq(medium) {
    font-size: 15vh;
  }

  @include max-mq(small) {
    font-size: 10vh;
  }
}

.cta-box {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70vh;
}

.cta-button {
  height: 3rem;
}
.cta-button.through-overlay {
  z-index: 10;
}

.landing-subtitle-box {
  margin-top: 14vh;
}

.landing-subtitle {
  color: var(--clr-neutral-300);
  font-size: var(--fs-100);
}
