/*-----------------------------------*\
  #NAVBAR-STYLING
\*-----------------------------------*/

.navbar {
  position: fixed;
  width: 100vw;
  background: #333;
}

.navbar__ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar__li {
  margin-inline: 0.5rem;
}

.navbar__a {
  color: #eee;
  text-decoration: none;
}
